.cart-page .navbar__content {
  margin: 0;
  padding-block: 1rem;
}

.cart-page .main-wrapper {
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  display: grid;
  grid-template-columns: 1.75fr 1.25fr;
  gap: 2.1rem;
  padding-block: 1.5rem 5rem;
}

.cart-page__title {
  padding-inline: clamp(1rem, 5vw, 6.25rem);
}

.products-container {
  width: 100%;
  height: fit-content;
  padding: 0 1.5rem;
  border: 2px solid gray;
  border-radius: 1rem;
}

.cart-page .product-cart {
  width: 667px;
  max-width: 667px;
  display: flex;
  gap: 1rem;
  font-family: var(--font-alt);
  padding-block: 1.5rem;
}

.cart-page .product-cart:not(:last-child) {
  border-bottom: 2px solid gray;
}

.cart-page .product-cart__image img {
  width: 124px;
  height: 124px;
}

.cart-page .product-cart__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-page .product-cart__title {
  font-size: 20px;
  white-space: nowrap;
}

.cart-page .product-cart__price {
  font-size: 24px;
  font-weight: 600;
}

.cart-page .product-cart__details p {
  font-size: 14px;
}

.wrap-product-num {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

/*  */

.order-card {
  height: fit-content;
  background: #fff;
  padding: 1.25rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid gray;
  font-family: var(--font-alt);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.order-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.order-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-row {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  color: #333;
}

.discount {
  color: #d9534f;
  font-weight: 600;
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

.promo-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.promo-input {
  flex: 1;
  background: #f3f3f3;
  padding: 0.6rem 0.8rem;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 3rem;
}

.promo-input input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 0.9rem;
}

.order-apply {
  padding: 0.75rem 1rem;
  border-radius: 999px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 0.85rem;
  transition: 0.2s;
  height: 3rem;
  width: 119px;
  max-width: 119px;
}

.order-apply:hover {
  opacity: 0.8;
}

.checkout-btn {
  width: 100%;
  padding: 0.9rem 0;
  border: none;
  border-radius: 999px;
  background: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.checkout-btn:hover {
  opacity: 0.9;
}
