/* .category-page .wrapper-main {
  background-color: var(--color-light);
} */

.main-layout {
  width: 100%;
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  display: grid;
  grid-template-columns: 300px 3fr;
  gap: 1rem;
}

.category-page .navbar {
  position: relative;
}

.category-page .navbar::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: clamp(1rem, 5vw, 6.25rem);
  right: clamp(1rem, 5vw, 6.25rem);
  height: 2px;
  background-color: gray;
}

.category-page .product-section__title {
  width: 100%;
  left: 0;
  padding-bottom: 1rem;
  font-family: var(--font-alt);
  font-size: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-page .product-section__categories {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.product-section__categories select {
  border: none;
  font-size: 1rem;
  font-family: var(--font-alt);
  font-weight: 700;
}

.product-section__categories select:focus {
  outline: 0;
  border: 0;
}

.category-page .product-section {
  padding: 0;
  justify-content: flex-start;
}

.category-page .product-section__wrappre-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

/* Page counter */

.category-page .page-counter {
  width: 100%;
  padding-block: 1.2rem 3.1rem;
  padding-inline: clamp(1rem, 5vw, 6.25rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-counter button {
  outline: none;
  cursor: pointer;
}

.per-btn,
.next-btn {
  height: 2.25rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 10%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.page-counter__wrap-num button {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  font-family: var(--font-alt);
}

.page-counter__wrap-num button:hover {
  background-color: rgba(0, 0, 0, 6%);
}

/*  */
.category-page .product__discount-percentage {
  background-color: var(--color-bg);
  padding: 0.375rem 0.875rem;
  font-size: 12px;
  font-family: var(--font-alt);
  color: red;
  border-radius: 3.9rem;
}
