.main-layout {
  width: 100%;
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  display: grid;
  grid-template-columns: 295px 1fr;
  gap: 1rem;
}

.category-page .navbar {
  position: relative;
}

.category-page .navbar::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: clamp(1rem, 5vw, 6.25rem);
  right: clamp(1rem, 5vw, 6.25rem);
  height: 1px;
  background-color: var(--color-border);
}

.category-page .product-section {
  gap: 1rem;
}

.category-page .product-section__title {
  width: 100%;
  padding-bottom: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.category-page .title__left h1 {
  font-size: 2rem;
  font-family: var(--font-alt);
}

.category-page .title__left p {
  color: var(--color-text);
  font-size: 0.825rem;
  display: none;
}

.category-page .title__right {
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: var(--color-text);
}

.title__right select {
  border: none;
  font-size: 1rem;
  font-family: var(--font-alt);
  font-weight: 700;
  cursor: pointer;
}

.title__right select:focus {
  outline: 0;
  border: 0;
}

.category-page .title__right--icon {
  display: none;
}

.category-page .product-section {
  padding: 0;
  justify-content: flex-start;
}

.category-page .product-section__wrappre-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 2rem;
}

/* Page counter */

.category-page .page-counter {
  width: 100%;
  padding-block: 1.875rem;
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  margin: 1.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-counter button {
  outline: none;
  cursor: pointer;
}

.per-btn,
.next-btn {
  height: 2.25rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 10%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.page-counter__wrap-num button {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  font-family: var(--font-alt);
}

.page-counter__wrap-num button:hover {
  background-color: rgba(0, 0, 0, 6%);
}

/*  */
.category-page .product__discount-percentage {
  background-color: var(--color-bg);
  padding: 0.375rem 0.875rem;
  font-size: 12px;
  font-family: var(--font-alt);
  color: red;
  border-radius: 3.9rem;
}

.category-page .product-card {
  margin: 0;
}

/* ---------- Media queries ---------- */
/* <= 1440px */
@media (max-width: 90em) {
  .category-page .product-section__wrappre-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* <= 1280px */
@media (max-width: 80em) {
}

/* <= 1024px */
@media (max-width: 1160px) {
  .main-layout {
    grid-template-columns: 1fr;
  }

  .category-page .product-section__wrappre-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* <= 768px (tablet -> mobile) */
@media (max-width: 54em) {
  .category-page .product-section__wrappre-cards {
    grid-template-columns: 1fr 1fr;
  }

  /* title */
  .category-page .product-section__title {
    align-items: center;
  }

  .category-page .title__right {
    display: none;
  }

  .category-page .title__right--icon {
    display: block;
  }

  .category-page .title__left p {
    display: block;
  }

  .category-page .title__left {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
  }

  .category-page .title__left h1 {
    font-size: 1.5rem;
  }
}

/* <= 576px (small phones) */
@media (max-width: 36em) {
  .category-page .product-section__wrappre-cards {
    grid-template-columns: 1fr;
  }
}
