@import url("./navbar.css");
@import url("./hero.css");
@import url("./categories.css");
@import url("./product.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-alt, sans-serif);
}

.wrapper-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper-main__layout {
  width: 100%;
  max-width: 1440px;
  padding-inline: 1rem;
}
