@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_24pt-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Integral";
  src: url("../fonts/Fontspring-DEMO-integralcf-bold.otf");
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.ttf");
}

:root {
  /* Fonts */
  --font-primary: "Inter", sans-serif;
  --font-heading: "Integral", sans-serif;
  --font-alt: "Satoshi", sans-serif;

  /* Colors */
  --color-primary: #000;
  --color-bg: #f0f0f0;
}
