.brand-logos {
  min-height: 7.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  flex-wrap: wrap;
  padding-block: 0.5rem;
}

/* Finish Brand-logos Section */

/* ---------- Media queries ---------- */

@media (max-width: 96em) {
  .brand-logos {
    gap: var(--space-xl);
  }
}

/* <= 1280px */
@media (max-width: 80em) {
  .brand-logos {
    justify-content: space-around;
  }
}

/* <= 1024px */
@media (max-width: 64em) {
  .brand-logos span {
    padding: 0.6rem;
  }
}
