/* Start Brand-logos Section */

.brand-logos {
  height: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6.7rem;
  background-color: var(--color-primary);
  padding: 0 100px;
}

/* Finish Brand-logos Section */
