.footer {
  background-color: var(--color-bg);
}

.footer__top {
  padding: 8rem 0 4rem;
  position: relative;
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  min-height: 320px;
}

.footer__top::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: clamp(1rem, 5vw, 6.25rem);
  right: clamp(1rem, 5vw, 6.25rem);
  height: 2px;
  background-color: gray;
}

.footer__logo {
  width: 22%;
}

.footer__logo h2 {
  font-family: var(--font-heading);
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.footer__social {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
}

.footer__social button {
  border: 0;
  outline: 0;
  background: none;
}

.footer__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__col h4 {
  font-family: var(--font-alt);
}

.footer__col a {
  display: block;
  color: #666;
  cursor: pointer;
  font-family: var(--font-primary);
  text-decoration: none;
  &:hover {
    color: lightblue;
  }
}

/* Footer bottom */

.footer__bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  padding-block: 0.5rem;
}

.footer__bottom p {
  font-family: var(--font-alt);
  color: gray;
  line-height: 2;
}

.footer__payments {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__payments button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer__payments button svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
