/* ========================== */
/*     Start Hero Section   */
/* ========================== */
.hero {
  width: 100%;
  min-height: 663px;
  display: flex;
  align-items: center;
  padding-inline: clamp(1rem, 5vw, 6.25rem);

  background-image: url("../../images/hero/Rectangle\ 2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__content {
  z-index: 1;
}

.hero__bg {
  display: none;
}

.hero__title {
  max-width: 27rem;
  width: 100%;
}

.hero__title span {
  display: inline-block;
  opacity: 0;
  font-size: 3rem;
  font-family: var(--font-heading);
  transform: translateY(10px);
  animation: fadeUp 0.3s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Description */
.hero__description {
  margin-top: var(--space-lg-2);
  line-height: 1.5rem;
  color: var(--color-text);
}

.hero__description p {
  color: var(--color-text);
}

.hero__btn {
  min-width: 13.125rem;
  width: 13.125rem;
  min-height: 3.25rem;
  padding: 1rem;
  border-radius: var(--radius-xl);
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-top: var(--space-lg-2);
}

.hero__information {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  justify-content: space-between;
  gap: var(--space-lg-2);
}
.hero__information span {
  font-family: var(--font-alt);
  font-size: var(--fs-xl);
  font-weight: 600;
}

.hero__information-item {
  padding-right: 1.5rem;
  border-right: 1px solid #d3d3d3;
}

.hero__information-item:last-child {
  border-right: none;
}

.hero__information-item p {
  white-space: nowrap;
}

/* ========================== */
/*     Finish Hero Section   */
/* ========================== */

@media (max-width: 64em) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-image: unset;
    padding-inline: 0;
    background-color: var(--color-bg);
  }

  .hero__bg {
    display: block;
    width: 100%;
    height: 38rem;
    margin-top: 1rem;

    background-image: url("../../images/hero/Rectangle\ 2.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }

  .hero__content {
    padding-inline: clamp(1rem, 5vw, 6.25rem);
  }
}

/* ========================== */
/*        MOBILE DESIGN       */
/* ========================== */

/* <= 40rem (640px) */
@media (max-width: 54em) {
  .hero {
    flex-direction: column;
    justify-content: space-between;
    background-image: unset;
    padding-inline: 0;
    background-color: var(--color-bg);
  }

  .hero__bg {
    display: block;
    width: 100%;
    height: 48rem;

    background-image: url("../../images/hero/Rectangle-min.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }

  .hero__content {
    padding-inline: clamp(1rem, 5vw, 6.25rem);
    width: 100%;
  }

  /* Title */
  .hero__title {
    max-width: 22rem;
    width: 100%;
    text-align: left;
  }

  .hero__title span {
    font-size: 2.25rem;
  }

  /* Description */
  .hero__description {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.4rem;
    max-width: 90%;
    text-align: left;
  }

  /* Button */
  .hero__btn {
    width: 100%;
    margin-top: var(--space-lg);
  }

  /* Info items stack vertically */
  .hero__information {
    width: 100%;
    flex-wrap: wrap;
  }

  .hero__information-item {
    padding-right: 0;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .hero__information span {
    font-size: 1.6rem;
  }

  .hero__information-item p {
    font-size: 0.8rem;
    opacity: 0.6;
  }
}

@media (max-width: 29.25em) {
  .hero__information {
    justify-content: space-around;
  }
}
