/* Start Product Section */

.product-section .swiper-wrapper {
  padding-block: 1rem;
}

.product-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--color-bg);
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  padding-block: 4.5rem 0;
}

.product-section__title {
  padding: 0 0 54px;
  text-align: start;
}

.product-section__title h1 {
  font-family: var(--font-heading);
  font-size: clamp(2rem, 4vw, 3rem);
}

.product-section__wrappre-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--color-light);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card__image {
  width: 100%;
  aspect-ratio: 1 / 1.1;
  overflow: hidden;
}

.product-card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.product-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.product-card__title {
  font-family: var(--font-alt);
  font-size: 1rem;
  color: #111;
}

.product-card__rating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.9rem;
  color: #777;
}

.product-card__rating svg {
  width: 16px;
  height: 16px;
}

.product-card__price {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 1rem;
}

.product-card__price--current {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-primary);
}

.product-card__price--old {
  color: #999;
  text-decoration: line-through;
  font-size: 1.5rem;
}

.product-section__btn-wrap {
  padding: 36px 16px 64px;
}

.product-section__btn,
.load-more-btn {
  display: inline-block;
  text-align: center;
  width: 13.5rem;
  height: 3.5rem;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  border: 1px solid var(--color-border);
  background-color: transparent;
  transition: all 0.2s ease;
}

.product-section__btn:hover {
  transform: translateY(-5px);
}

.product-section--promo {
  border: none;
}

.product-section .swiper-slide {
  width: 100%;
}
/* Finish Product Section */

/* <= 640px (Mobile View) */
@media (max-width: 40em) {
  .product-section__btn-wrap {
    width: 100%;
    padding-inline: 0;
  }

  .product-section__btn {
    width: 100%;
    font-size: 14px;
  }
}
