/* ================= Sidebar ================= */

.sidebar {
  border: 1px solid var(--color-border);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  max-height: 1440px;
}

/* ================= Filter ================= */

.filter {
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
}

.filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 0 1.5rem;
  border-bottom: 1px solid var(--color-border);
}

.filter__toggle {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  padding-block: 1.25rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ================= Filter Group ================= */

.filter-group {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1.5rem;
}

.filter-group:nth-last-child(2) {
  border-bottom: none;
}

.filter-group__toggle {
  background: none;
  border: none;
  width: 100%;
  padding-block: 1.25rem;
  font-size: 1.25rem;
  font-family: var(--font-alt);
  font-weight: 600;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-group__content {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem 0;
}

.filter-group__list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.filter-group__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--color-text);
}

/* ================= Price Filter ================= */

/* .price-filter {
} */

.price-filter__slider {
  position: relative;
  width: 100%;
  height: 6px;
}

.price-filter__track {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.price-filter__range {
  position: absolute;
  height: 6px;
  background: #000;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.price-filter__thumb {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  touch-action: none;
}

.price-filter__thumb:hover {
  transform: translate(-50%, -50%) scale(1.15);
  transition: 0.15s ease;
}

.price-filter__values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

/* ================= Options (Colors / Sizes) ================= */

.filter-group__options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-group__options--colors {
  justify-content: center;
  gap: 2rem;
}

.filter-option {
  cursor: pointer;
}

/* Color option */
.filter-option--color {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: var(--c);
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/* Size option */
.filter-group__options--sizes .filter-option {
  padding: 0.625rem 1.25rem;
  border-radius: 2rem;
  height: 2.375rem;
  font-size: 14px;
  font-family: var(--font-alt);
  background-color: var(--color-bg);
  transition: 0.2s;
}

.filter-option.is-active {
  background: black;
  color: white;
}

/* ================= Apply Button ================= */

.sidebar__apply-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background: black;
  color: white;
  cursor: pointer;
}

/* ================= Media Queries ================= */

/* <= 1160px */
@media (max-width: 1160px) {
  .sidebar {
    display: none;
  }
}
