.sidebar {
  border: 2px solid gray;
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  max-height: 1440px;
}

.tree {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tree__group:nth-last-child(2) {
  border-bottom: none;
}

.tree__group {
  border-bottom: 2px solid gray;
  padding-bottom: 1.5rem;
}

.tree__node--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tree__title {
  font-size: 1.25rem;
  font-family: var(--font-alt);
  font-weight: 600;
}

.sub-title {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.tree__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  line-height: 1;
  position: relative;
}

/* every sidebar title */
.tree__toggle {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  padding-block: 1.25rem;
  line-height: 1;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Price */
.price-filter {
  padding: 1.2rem 0;
  font-family: var(--font-alt);
}

.slider {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 2rem 0;
}

.track {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.range {
  position: absolute;
  height: 6px;
  background: #000;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.thumb-circel {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  touch-action: none;
}

.thumb-circel:hover {
  transform: translate(-50%, -50%) scale(1.15);
  transition: 0.15s ease;
}

.price-values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

/* Colors */
.colors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-block: 0.62rem;
}

.color span {
  width: 37px;
  height: 37px;
  display: block;
  border-radius: 50%;
  background: var(--c);
  cursor: pointer;
}

.color span:hover {
  border: 2.5px solid var(--color-primary);
}

/* Sizes */
.sizes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.size {
  padding: 0.625rem 1.25rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  height: 2.375rem;
  font-size: 14px;
  font-family: var(--font-alt);
  transition: all 0.2s;
}
.size:hover {
  scale: calc(1.1);
}

.size.is-active {
  background: black;
  color: white;
}

/* Apply Button */
.apply-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  background: black;
  color: white;
}
