.testimonials {
  padding-inline: clamp(1rem, 5vw, 6.25rem);
  padding-block: 5rem;
}

.testimonials__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 40px;
}

.testimonials__title {
  text-align: start;
  font-size: 2.2rem;
  font-family: var(--font-alt);
}

.testimonials__icons {
  display: flex;
  gap: 1rem;
}

.testimonials__btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.testimonials__btn:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.testimonials__card {
  border: 1px solid #ececec;
  padding-inline: 2rem;
  padding-block: 1.75rem;
  border-radius: 1rem;
  background: white;
}

.testimonials__user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 15px 12px;
}

.testimonials__name {
  font-family: var(--font-alt);
}

.testimonials__text {
  font-size: 0.95rem;
  line-height: 1.4;
  color: rgba(0, 0, 0, 60%);
  font-family: var(--font-alt);
}

.testimonials__date {
  padding-block: 1.5rem 0;
}

.testimonials__empty {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 2px dashed #e0e0e0;
  margin: 20px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
}

.testimonials__footer {
  display: flex;
  justify-content: center;
}

.load-more {
  width: 100%;
  text-align: center;
  padding-block: 2rem 0;
}
